.container {
  padding: 16px;
}

.primary {
  background-color: var(--status-accent-background);
}
.success {
  background-color: var(--status-success-background);
}
.info {
  background-color: var(--status-info-background);
}
.warning {
  background-color: var(--status-warning-background);
}
.danger {
  background-color: var(--status-danger-background);
}
